{% load static %}

<div class="card text-left">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">新着記事</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">人気記事</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">カードのタイトル</h5>
        <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。</p>
        <a href="#" class="btn btn-primary">登録する</a>
    </div>
</div>
