<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- highlight.js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/androidstudio.min.css">
        <!-- My style -->
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand mr-5" href="{% url 'post:index' %}">SASA*BLOG</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber"
                        aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Navber">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索...">
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->

        <!-- Contents -->
        <div id="contents" class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    {% block contents %}{% endblock %}
                </div>
                <div class="col-lg-3 col-md-3">
                        {% block aside %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- End Contents -->

        <footer>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-4">
                        <span class="logo">SASA*BLOG</span>
                    </div>
                    <div class="col-10 col-md-4">
                        <ul class="menu">
                            <span>Menu</span>
                            <li>
                                <a href="{% url 'post:index' %}">トップ</a>
                            </li>
                            <li>
                                <a href="#">自己紹介</a>
                            </li>
                            <li>
                                <a href="#">プロダクト</a>
                            </li>
                            <li>
                                <a href="#">お問い合わせ</a>
                            </li>
                            <li>
                                <a href="#">プライバシーポリシー</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="m-0 text-left text-white-50 small">Copyright &copy; 2020 Yuto Sasada.</p>
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- highlight.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
