{% extends 'post/base.html' %}

{% load tags %}

{% block title %}{{ post.title }} - SASA*BLOG{% endblock %}


{% block contents %}
<main>
    <div class="mb-5">
        <span>{{ post.updated_at }} 更新</span>
        <h1 class="font-weight-bolder">{{ post.title }}</h1>
        {% for tag in post.tags.all %}
        <a href="{% url 'post:index_tag' tag %}" class="p-2 rounded bg-secondary text-white">{{ tag }}</a>
        {% endfor %}
    </div>
    <div class="toc">
        <dl class="toc-inner">
            <dt class="toc-title">目次</dt>
            <dd class="toc-block">
                <!-- Loading contents -->
            </dd>
        </dl>
    </div>
    <article class="pb-5 border-bottom">
        {{ post.content | markdown_to_html | urlize }}
    </article>
</main>
{% endblock %}


{% block aside %}

{% create_tag_list %}
{% create_post_list %}

{% endblock %}

