{% extends 'post/base.html' %}

{% block title %}お問い合わせ - SASA*BLOG{% endblock %}


{% block contents %}

{% if messages %}
<div class="container">
    <div class="row">
        <div class=w-100">
            <ul class="messages pl-0" style="list-style: none;">
                {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- End messages -->
{% endif %}

<div id="inquiry">
    <h2>お問い合わせ</h2>
    <form action="" method="post">
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="control-label">
                <strong>{{ field.label_tag }}</strong>
            </label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">送信</button>
        {% csrf_token %}
    </form>
</div>
<!-- /#inquiry -->

{% endblock %}
