{% extends 'post/base.html' %}

{% block title %}プライバシーポリシー - SASA*SITE{% endblock %}


{% block contents %}

<div id="privacy">
    <div class="border-bottom">
        <div class="mb-5">
            <h2>プライバシーポリシー</h2>
            <p>SASA*SITEをご利用いただきありがとうございます。</p>
            <p>SASA*SITE(以下「当サイト」)では、以下のとおり個人情報保護方針を定め、個人情報の保護に努めます。</p>
            <h3>個人情報保護方針</h3>
            <div class="ml-4 mb-5">
                <h4 > - 個人情報の利用目的</h4>
                <p>当サイトでは、メールフォームでのお問い合わせ時に、メールアドレス等の個人情報を取得させていただくことがございます。</p>
                <p>これらの個人情報は、質問に対する回答や必要な情報を電子メール等でご連絡する場合に限り利用させていただくものであり、ご提供いただく際の目的以外では利用いたしません。</p>
                <h4> - 個人情報の第三者への開示・提供について</h4>
                <p>当サイトは、取得した個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
                <ul>
                    <li>ご本人からの同意がある場合</li>
                    <li>法令に基づく開示を警察機関等に求められた場合</li>
                </ul>
            </div>
            <h3>アクセス解析について</h3>
            <p>当サイトでは、アクセス解析ツール「Google Analytics」を利用しています。</p>
            <p>このアクセス解析ツールは、利用者がアクセスしたページのURLやIPアドレス等のトラフィックデータを収集するためにCookieを使用しています。 このトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ます。詳しくは<a href="#">こちら</a>をご覧ください。</p>
            <h3>免責事項</h3>
            <p>当サイトに掲載されている情報の正確さについて可能な限り努力をしていますが、その正確性や適切性に問題がある場合、告知無しに情報を変更・削除する事があります。</p>
            <p>当サイトの情報を用いて行う一切の行為、被った損害・損失に対しては、一切の責任を負いかねます。ご了承ください。</p>
            <h3>改定について</h3>
            <p>本ポリシーの内容は必要に応じ改定されることがあります。最新のプライバシーポリシーをご確認の上、ご利用ください。</p>
            <h3>お問い合わせ</h3>
            <p>当サイトの個人情報の取扱いに関するお問い合せは<a href="{% url 'post:inquiry' %}">こちら</a>からご連絡ください。</p>
            <p class="text-right"><small>2020年6月11日 制定</small></p>
        </div>
        <!-- End Privacy Policy-->
        <div>
            <h2>当サイトの利用について</h2>
            <h3>著作権等知的財産権</h3>
            <p>当サイトに掲載されている文章、画像等を使用する場合は、著作権法により認められている引用の範囲を守ってご利用ください。注釈等に引用元を明記していただけると幸いです。</p>
            <p class="text-right"><small>以上</small></p>
        </div>
        <!-- End Terms of Service-->
    </div>
</div>
<!-- /#privacy -->

{% endblock %}
